{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <center> <h5 class="mt-5">Create Unit</h5></center>
                        <hr>
                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="">
                                
                                <div class="col-md-6 mb-6">
                                    <label for="validationTooltip02">Department</label>
                                    <select class="form-control" name="department" required>
                                        <option selected disabled value="">Select Department ...</option>
                                        {% for department in departments %}
                                        <option value="{{department.id}}">{{department.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-6">
                                    <label for="validationTooltip01">Title</label>
                                    <input id="title" class="form-control"  name="title"  placeholder="Title" required>   
                                </div><br>
                                <div class="col-md-6 mb-6">
                                    <button class="btn btn-primary" type="submit">Save</button>  
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>

{% endblock content %} 