{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                {% if rquest.user.unit %}
                                    <h5 class="m-b-10">{{ request.user.unit}} Unit</h5>
                                {% elif request.user.department %}
                                    <h5 class="m-b-10">{{ request.user.department}} Department</h5>
                                {% else %}
                                    <h5 class="m-b-10">{{ request.user.directorate}}</h5>
                                {% endif %}
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'list_resumption' %}">Pending Resumptions</a></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ dark-table ] end -->
                <!-- [ stiped-table ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="color: green;">Pending Leave Applications</h4>
                            <!-- <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span> -->
                </div>
            {% if not leave_apps %}
                {% include 'leave/snippets/take_some_rest.html' %}   
            {% else %}
                <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>FILE NO</th>
                                <th>STAFF</th>
                                <th>LEAVE INFORMATION</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave_app in leave_apps %}
                            <tr>
                                <td>{{leave_app.created_by.file_number}}</td>
                                <td>
                                    {{leave_app.created_by.first_name}}
                                    {{leave_app.created_by.last_name}}
                                </td>
                                <td>
                                    {{leave_app.leave_type.title}} Leave <br>
                                    {{leave_app.date_from}} ->
                                    {{leave_app.date_to}}
                                </td>
                                <td>
                                    <button class="btn btn-success" style="background-color: green; color:white">
                                        {% if request.user.user_group.group == 'leave_and_passage' %}
                                            <a style="color: white;" href="{% url 'process_leave_pass' leave_app.id %}">Process Leave Pass</a>
                                        {% else %}
                                            <a style="color: white;" href="{% url 'recommend_leave_application' leave_app.id %}">Recommend</a>
                                        {% endif %}
                                    </button>
                                    <button class="btn btn-primary" style="background-color: blue; color:white">
                                        <a style="color: white;" href="{% url 'leave_details' leave_app.id %}">Details</a>
                                    </button>
                                    {% if not request.user.user_group.group == 'leave_and_passage' %}
                                        <button class="btn btn-success" style="background-color: red; color:white">
                                            <a style="color: white;" href="{% url 'decline_leave_application' leave_app.id %}">Decline</a>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            {% endif %}
</div>
</div>

        <!-- [ Background-Utilities ] end -->
    </div>
    <!-- [ Main Content ] end -->
</div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
