{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">{{user.first_name}} {{user.last_name}} || {{user.file_number}}</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Assign Heads/User Group</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST" class="row g-2">{% csrf_token %}
                                <div class="col-md-6">
                                    <h5>Heads</h5>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="sub_unit" class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="customRadio1">Sub-unit Head</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="unit" class="custom-control-input" value="True"
                                        {% if not user.department.has_unit %} disabled {% endif %}>
                                        <label class="custom-control-label" for="customRadio2">Unit Head</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="department" class="custom-control-input" value="True">
                                        <label class="custom-control-label" for="customRadio3">Head of Department</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio4" name="directorate" class="custom-control-input" value="True">
                                        <label class="custom-control-label" for="customRadio4">Head of Directorate</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5>User Group</h5>
                                    <div class="col-md-10">
                                        <select name="group" class="form-control" id="validationCustom04" required>
                                        <option selected disabled value="">Select a group</option>
                                        {% for group in groups %}
                                            <option value="{{group.id}}">{{ group.group }}</option>
                                        {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                        Please select a valid group.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <br>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Submit form</button>
                                </div>
                            </form> 
                        </div> 
                    </div>
                    <!-- Input group -->
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
