{% extends "layouts/base-fullscreen.html" %}
{% block content %} 

<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div>
					<div class="container">
						{% if messages %}
							{% for message in messages %}
								<div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
									<ul class="messages">
										<li><center>{{ message }}</center></li>
									</ul>
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">
						 <span>Change Password</span>
						</h4>					
                         <form method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %} 
							{% if msg %}
								<div class="alert {{col}}">{{msg}}</div>
							{% endif %}
							<label><h6> Current Password</h6></label> 
							<div class="input-group mb-2">
								<input type="password" class="form-control" name="current_password" required>
							</div>
                            <label><h6> New Password</h6></label>
							<div class="input-group mb-2">
								<input type="password" class="form-control" name="new_password" id="new_password" onkeyup="check_pass()" required>
							</div>
                            <label><h6> Confirm New Password</h6></label>
							<div class="input-group mb-2">
								<input type="password" class="form-control" name="confirm_password" id="confirm_password"onkeyup="check_pass()"required >
							</div>
							
							<input type="submit" value="Change Password" class="btn btn-block btn-primary mb-4" id="sbbtn">
						
						</form>
						<p class="mb-2 text-muted">
							 <a href="{% url 'login' %}" ><h4>Login</h4></a>

							<br />
							&copy; <a target="_blank" rel="noopener" href="{% url 'login' %}" class="f-w-400">cittuDev 2022</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 <script>
    function check_pass(){
        let p = $("#new_password").val();
        let cp = $("#confirm_password").val();
        if(p==cp){
            $("#new_password").css("border","2px solid green");
            $("#confirm_password").css("border","2px solid green");
            $("#sbbtn").removeAttr("disabled");
        
        }else{
            $("#new_password").css("border","1px solid red");
            $("#confirm_password").css("border","1px solid red");
            $("#sbbtn").attr("disabled");
        }
    }
 </script>
{% endblock content %} 