{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

    <!-- [ Main Content ] start -->
<section class="pcoded-main-container">
   <div class="pcoded-content">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 style="color:green;"> {{user.first_name}} {{user.last_name}} | ({{user.file_number}})</h4>
                    <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}     
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip01">First name</label>
                                <input value="{{user.first_name}}" class="form-control" name="first_name" type="text">  
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip02">Last name</label>
                                <input value="{{user.last_name}}" class="form-control" name="last_name" type="text">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip02">Other name</label>
                                <input value="{{user.other_name}}" class="form-control" name="othernames" type="text">   
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip02">File No</label>
                                <input value="{{user.file_number}}" class="form-control" name="file_number" type="number">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip01">Gender</label>
                                <select class="form-control" name="gender" id="">
                                    {% for g in gender %}
                                        <option value="{{g.id}}">{{g.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip02">Date Of Birth</label>
                                <input value="{{user.date_of_birth|date:'c'}}" class="form-control" name="date_of_birth" type="date" required>
                            </div>
                        </div>
                        <button class="btn  btn-primary" type="submit">Save Updates</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



