{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        var directorate = $("#directorate");
        var department = $("#department");
        var $options = department.find('option');
        directorate.on('change',function(){
        department.html($options.filter('[value="'+ this.value  +'"]'));
        }).trigger('change'); 
    }); 
</script> -->
    
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <center> <h5 class="mt-5">Staff Registration</h5></center>
                        <hr>
                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip01">First name</label>
                                    <input id="first_name" class="form-control"  name="first_name"  placeholder="First name" required>   
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Last name</label>
                                    <input id="last_name" class="form-control" name="last_name" id="validationTooltip02" placeholder="Last name" value="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Other name</label>
                                    <input name="other_name" class="form-control" id="other_name2" placeholder="Other name" value="" required>
                                </div>    
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip01">Gender</label>
                                    <select class="form-control" name="gender">
                                        {% for i in gender %}
                                        <option value="{{i.id}}">{{i.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Date Of Birth</label>
                                    <input type="date" class="form-control" name="date_of_birth" id="validationTooltip02" placeholder="Date of birth" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">File No</label>
                                    <input type="number" class="form-control" name="file_number" id="validationTooltip02" placeholder="File no" value="" required>
                                    <div class="valid-tooltip">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Directorate</label>
                                    <select id="directorate" class="form-control" name="directorate">
                                        <option selected disabled="true" value="">Select Directorate---</option>
                                        {% for i in directorates %}
                                        <option value="{{i.id}}">{{i.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Department</label>
                                    <select id="department" class="form-control" name="department">
                                        <option selected disabled="true" value="">Select Department---</option>
                                        {% for dept in depts %}
                                        <option value="{{dept.id}}">{{dept.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div> 
                                <div class="col-md-4 mb-6">
                                    <label for="validationTooltip02">Unit</label>
                                    <select id="unit" class="form-control" name="unit">
                                        <option selected disabled="true" value="">Select Unit---</option>
                                        <!-- {% for unit in units %}
                                        <option value="{{unit.id}}">{{unit.title}}</option>
                                        {% endfor %} -->
                                    </select>
                                </div> 
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip01">Username</label>
                                    <input id="username" class="form-control" name="username" id="validationTooltip01" placeholder="Username" value="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Password</label>
                                    <input type="password" class="form-control" id="password1"   name="password1" id="validationTooltip02" placeholder="Password" value="" required>
                                    </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Confirm Password</label>
                                    <input type="password" class="form-control" id="password2"  name="password2" id="validationTooltip02" placeholder="Confirm Password" value="" required>
                                    </div>   
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Profile Image</label>
                                    <input type="file" class="form-control" id="passport2"  name="passport" id="validationTooltip02" value="">
                                </div>
                            </div>
                            <button style="margin-left: 700px; width: 200px; font-size: 20px; " class="btn  btn-primary" type="submit">Next</button>
                        </form>    
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
    'use strict';
       window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
    </script>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



