
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
	<div class="navbar-wrapper  ">
	<div class="navbar-content scroll-div " >
	<ul class="nav pcoded-inner-navbar ">
		<!-- <li class="nav-item pcoded-menu-caption">
			<label>Navigation</label>
		< -->
		<li class="nav-item">
			<a href="{% url 'index' %}" class="nav-link ">
				<span class="pcoded-micon">
					<i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
		</li>
		<li class="nav-item pcoded-hasmenu">
			<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span class="pcoded-mtext"><b>Leave Management</b></span></a>
			<ul class="pcoded-submenu">
				<li><a href="{% url 'leave_application' id=1 %}">Apply</a></li>
				<li><a href="{% url 'leave_history' %}">My Leave Records</a></li>
				<li><a href="{% url 'user_approved_application_list' %}">My Leave Pass</a></li>
				{% if request.user.user_group.group == 'leave_and_passage' %}
				<li><a href="{% url 'approved_leave' %}">Print Leave Pass</a></li>
				{% endif %}
				{% if request.user.user_group.group == 'head of unit' or request.user.user_group.group == 'head of department' or request.user.user_group.group == 'head of directorate' or request.user.user_group.group == 'leave_and_passage' or request.user.user_group.group == 'cmd' %}
					<li><a href="{% url 'list_pending_leave_applications' %}">Pending Applications</a></li>
					<li><a href="{% url 'list_resumption' %}">Pending Resumptions</a></li>
				{% endif %}
				{% if request.user.user_group.group == 'head of unit' or request.user.user_group.group == 'head of department' or request.user.user_group.group == 'head of directorate' %}
					<li><a href="{% url 'active_leave_list' %}">Active Leave List</a></li>
				{% endif %}
			</ul>
		</li>
		{% if request.user.user_group.group == 'support' or request.user.user_group.group == 'developer' %}
			<li class="nav-item pcoded-hasmenu">
				<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext"><b>Settings</b></span></a>
				<ul class="pcoded-submenu">
						<li><a href="{% url 'leave_type' %}">Create Leave Types</a></li>
						<li><a href="{% url 'department_list' %}">Department List</a></li>
						{% if request.user.user_group.group == 'developer' %}
							<li><a href="{% url 'create_unit' %}">Create Unit</a></li>
							<li><a href="{% url 'create_department' %}">Create Department</a></li>
						{% endif %}
				</ul>
			</li>
		{% endif %}
		{% if request.user.user_group.group == 'registry' or request.user.user_group.group == 'developer' or request.user.user_group.group == 'leave_and_passage' or request.user.user_group.group == 'support' %}
			<li class="nav-item pcoded-hasmenu">
				<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext"><b>Registration</b></span></a>
				<ul class="pcoded-submenu">
					<li><a href="{% url 'register' %}">Register User</a></li>
				</ul>
			</li>
		{% endif %}
		{% if request.user.user_group.group == 'support' or request.user.user_group.group == 'developer' or request.user.user_group.group == 'leave_and_passage' %}
		<li class="nav-item pcoded-hasmenu">
			<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span class="pcoded-mtext">Reports</span></a>
			<ul class="pcoded-submenu">
				<li><a href="{% url 'general_leave_report' %}">General Reports</a></li>
				<!-- <li><a href="/layout-horizontal.html">Horizontal</a></li> -->
			</ul>
		</li>
		{% endif %}
		<li class="nav-item pcoded-menu-caption">
			<label>Action zone</label>
		</li>
		<li class="nav-item">
			<a href="{% url 'logout' %}" 
			   class="nav-link "><span class="pcoded-micon">
			   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
		</li>
		<!-- <li class="nav-item">
			<a href="" 
			   class="nav-link "><span class="pcoded-micon">
			   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Support</span></a>
		</li> -->
	
	</ul>
					
			<!-- <div class="card text-center">
				<div class="card-block">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<i class="feather icon-sunset f-40"></i>
					<br />
					<p>Need more?</p>
					<a target="_blank" rel="noopener noreferrer" 
					   href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro"
					   class="btn btn-primary btn-sm text-white m-0">Gradient PRO</a>
				</div>
			</div> -->
			
		</div>
	</div>
	</nav>
		<!-- [ navigation menu ] end -->
	