
    {% extends "layouts/base.html" %}
    
    {% block title %} Form Elements {% endblock %} 
    
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
    
    {% block content %}	
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <style>
    input{
        width: 90%;
         padding: 5px 10px;
         box-sizing: border-box;
        border: 1px solid rgb(181, 220, 245);
        /* border-radius: 10px; */
     } 
     select{
         width: 90%;
         padding: 5px 10px;
         box-sizing: border-box;
        border: 1px solid rgb(201, 228, 245);
         /* border-radius: 10px; */
     } 
     hr{
        background-color: lightskyblue;
     }
</style>
        <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
    <div class="row">
    <!-- [ form-element ] start -->
    <div class="col-sm-12">
        <div class="card">
    <div class="card-body">                      
        
      <h5 style="color:green;"> {{user.first_name}} {{user.last_name}}  |   {{user.file_number}}</h5>
      <hr>
    <form method="POST" id="contact-form" class="needs-validation" lgas-url="{% url 'load_state' %}" novalidate>
        {% csrf_token %}
<div class="form-row" form-group>
    <div class="col-md-4 mb-3">
        <label for="validationCustom01">Email Address</label><br>
        {{form.email}}
        <small class="text-danger">{{ form.errors.email|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationCustom02">Phone 1</label><br>
         {{form.phone1}}
         <small class="text-danger">{{ form.errors.phone1|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationCustom02">Phone 2</label><br>
         {{form.phone2}}
         <small class="text-danger">{{ form.errors.phone2|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nationality</label><br>
        {{form.nationality}}
        <small class="text-danger">{{ form.errors.nationality|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationCustom02">State Of Origin</label><br>
        {{form.state_of_origin}}
        <small class="text-danger">{{ form.errors.state_of_origin|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationCustom02">Local Government</label><br>
          {{form.local_government_area}}
          <small class="text-danger">{{ form.errors.local_government_area|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
</div>
<hr>
<h5>Residential Address</h5>
<div class="form-row">
    <div class="col-md-4 mb-6">
        <label for="validationCustom03">State Of Residence</label><br>
       {{address_form.state_of_residence}}
       <small class="text-danger">{{ address_form.errors.state_of_residence|striptags }}</small>
       
    </div>
    <div class="col-md-4 mb-6">
        <label for="validationCustom04">Local Goverment Area</label><br>
        {{address_form.local_government_area_of_residence}}
        <small class="text-danger">{{address_form.errors.local_government_area_of_residence|striptags }}</small>
       
    </div>
</div> 

<div class="form-row">
    
    <div class="col-md-12 mb-1">
        <label for="validationCustom02"> Residential Address</label><br>
        {{address_form.residential_address}}
        <small class="text-danger">{{ address_form.errors.residential_address|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
</div>
<hr>
<h5>Permanent Home Address</h5>
<div class="form-row">
    <div class="col-md-4 mb-6">
        <label for="validationCustom03">State Of Permanent Address</label><br>
       {{address_form.state_of_permanent}}
       <small class="text-danger">{{ address_form.errors.state_of_permanent|striptags }}</small>
       <div class="valid-feedback">
            
    </div>
       
    </div>
    <div class="col-md-4 mb-6">
        <label for="validationCustom04">Local Goverment Area</label><br>
       {{address_form.local_government_area_of_permanent}}
       <small class="text-danger">{{ address_form.errors.local_government_area_of_permanent|striptags }}</small>
       <div class="valid-feedback">
            
    </div>
    </div>
</div> 

<div class="form-row">
    
    <div class="col-md-12 mb-3">
        <label for="validationCustom02"> Permanent Home Address</label><br>
        {{address_form.permanent_home_address}}
        <small class="text-danger">{{ address_form.errors.permanent_home_address|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
</div>
<hr>
<h5>Next of Kin Details</h5>
<div class="form-row">
    <div class="col-md-4 mb-6">
        <label for="validationCustom01">Next Of Kin Full Name</label><br>
         {{form.next_of_kin}}
         <small class="text-danger">{{ form.errors.next_of_kin|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-2 mb-3">
        <label for="validationCustom02">Next Of Kin Phone No</label><br>
         {{form.next_of_kin_phone_no}}
         <small class="text-danger">{{ form.errors.next_of_kin_phone_no|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="validationCustom02">Address Of Next Of Kin</label><br>
        {{form.address_of_next_of_kin}}
        <small class="text-danger">{{ form.errors.address_of_next_of_kin|striptags }}</small>
        <div class="valid-feedback">
            
        </div>
    </div>
</div>
<br>
      <button class="btn  btn-primary" type="submit">Submit form</button>
</form>

            </div>
        </div>                           
    </div>
</div>
</div>
</div>
</section>
        <!-- [ Main Content ] end -->
    
    {% endblock content %}
    
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
    
    